In [ ]:
import sqlite3

## Membuat database dan tabel

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")

In [ ]:
cur = conn.cursor()

In [ ]:
# Menjalankan perintah SQL
cur.execute("""CREATE TABLE IF NOT EXISTS tabel_produk (
    product_id INTEGER PRIMARY KEY NOT NULL,
    nama TEXT,
    stok INTEGER,
    berat_kg REAL,
    harga_ribu_rp REAL
)""")

# Menyimpan hasil eksekusi SQL
conn.commit()

In [ ]:
conn.close()

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("INSERT INTO tabel_produk VALUES  (123, 'Apel', 10, 0.2, 3.5)")
conn.commit()

cur.execute("INSERT INTO tabel_produk VALUES  (456, 'Jeruk', 15, 0.15, 2.1)")
conn.commit()

cur.execute("INSERT INTO tabel_produk VALUES  (789, 'Pisang', 40, 0.05, 1.25)")
conn.commit()

conn.close()

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
print(cur.fetchall())

conn.close()

[(123, 'Apel', 10, 0.2, 3.5), (456, 'Jeruk', 15, 0.15, 2.1), (789, 'Pisang', 40, 0.05, 1.25)]

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)
(456, 'Jeruk', 15, 0.15, 2.1)
(789, 'Pisang', 40, 0.05, 1.25)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
nama_kolom = [x[0] for x in cur.description]
print(nama_kolom)

conn.close()

['product_id', 'nama', 'stok', 'berat_kg', 'harga_ribu_rp']

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT product_id, nama FROM tabel_produk")
print(cur.fetchall())

conn.close()

[(123, 'Apel'), (456, 'Jeruk'), (789, 'Pisang')]

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

data_baru = [
    (987, 'Brokoli', 70, 0.05, 1.5),
    (321, 'Wortel', 30, 0.1, 1.8),
    (135, 'Stroberi', 120, 0.04, 2)
]

cur.executemany("INSERT INTO tabel_produk VALUES (?, ?, ?, ?, ?)", data_baru)
conn.commit()

conn.close()

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
print(cur.fetchall())

conn.close()

[(123, 'Apel', 10, 0.2, 3.5), (135, 'Stroberi', 120, 0.04, 2.0), (321, 'Wortel', 30, 0.1, 1.8), (456, 'Jeruk', 15, 0.15, 2.1), (789, 'Pisang', 40, 0.05, 1.25), (987, 'Brokoli', 70, 0.05, 1.5)]

## Querying

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE stok < 30")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)
(456, 'Jeruk', 15, 0.15, 2.1)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE harga_ribu_rp > 3")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE nama == 'Stroberi'")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(135, 'Stroberi', 120, 0.04, 2.0)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE product_id == 987")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(987, 'Brokoli', 70, 0.05, 1.5)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE product_id LIKE '45%'")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(456, 'Jeruk', 15, 0.15, 2.1)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE product_id LIKE '%9'")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(789, 'Pisang', 40, 0.05, 1.25)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE (stok < 50) AND (product_id LIKE '1%')")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE (stok <= 10) OR (harga_ribu_rp > 2)")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)
(456, 'Jeruk', 15, 0.15, 2.1)

## Update Data

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("UPDATE tabel_produk SET stok == 200 WHERE product_id == 123")
conn.commit()

conn.close()

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)
conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)
(456, 'Jeruk', 15, 0.15, 2.1)
(789, 'Pisang', 40, 0.05, 1.25)
(987, 'Brokoli', 70, 0.05, 1.5)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("UPDATE tabel_produk SET nama = 'Jeruk Nipis' WHERE product_id == 456")
conn.commit()

conn.close()

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)
conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)
(456, 'Jeruk Nipis', 15, 0.15, 2.1)
(789, 'Pisang', 40, 0.05, 1.25)
(987, 'Brokoli', 70, 0.05, 1.5)

## Hapus Baris

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("DELETE FROM tabel_produk WHERE product_id == 789")
conn.commit()

conn.close()

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)
conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)
(456, 'Jeruk Nipis', 15, 0.15, 2.1)
(987, 'Brokoli', 70, 0.05, 1.5)

ORDER BY dan LIMIT

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY nama")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(987, 'Brokoli', 70, 0.05, 1.5)
(456, 'Jeruk Nipis', 15, 0.15, 2.1)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY nama DESC")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(321, 'Wortel', 30, 0.1, 1.8)
(135, 'Stroberi', 120, 0.04, 2.0)
(456, 'Jeruk Nipis', 15, 0.15, 2.1)
(987, 'Brokoli', 70, 0.05, 1.5)
(123, 'Apel', 200, 0.2, 3.5)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY nama ASC")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(987, 'Brokoli', 70, 0.05, 1.5)
(456, 'Jeruk Nipis', 15, 0.15, 2.1)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY berat_kg")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(135, 'Stroberi', 120, 0.04, 2.0)
(987, 'Brokoli', 70, 0.05, 1.5)
(321, 'Wortel', 30, 0.1, 1.8)
(456, 'Jeruk Nipis', 15, 0.15, 2.1)
(123, 'Apel', 200, 0.2, 3.5)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY harga_ribu_rp")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(987, 'Brokoli', 70, 0.05, 1.5)
(321, 'Wortel', 30, 0.1, 1.8)
(135, 'Stroberi', 120, 0.04, 2.0)
(456, 'Jeruk Nipis', 15, 0.15, 2.1)
(123, 'Apel', 200, 0.2, 3.5)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY harga_ribu_rp DESC")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(456, 'Jeruk Nipis', 15, 0.15, 2.1)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)
(987, 'Brokoli', 70, 0.05, 1.5)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY harga_ribu_rp LIMIT 3")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(987, 'Brokoli', 70, 0.05, 1.5)
(321, 'Wortel', 30, 0.1, 1.8)
(135, 'Stroberi', 120, 0.04, 2.0)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY product_id LIMIT 2")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk LIMIT 3")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY product_id")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)
(456, 'Jeruk Nipis', 15, 0.15, 2.1)
(987, 'Brokoli', 70, 0.05, 1.5)

## Tabel baru di database yang sama

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("""CREATE TABLE IF NOT EXISTS tabel_pesanan (
    order_id INTEGER PRIMARY KEY NOT NULL,
    tanggal TEXT,
    jam TEXT,
    kode_produk INTEGER,
    jumlah INTEGER,
    sudah_dibayar INTEGER,
    FOREIGN KEY(kode_produk) REFERENCES tabel_produk(product_id)
)
""")
conn.commit()

conn.close()

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

data_baru = [
    (1, '2023-11-05', '14:38.27', 123, 10, 0),
    (2, '2023-11-16', '10:02:03', 456, 5, 0),
    (3, '2023-11-17', '23:59:58', 987, 15, 0),
]
cur.executemany("INSERT INTO tabel_pesanan VALUES (?, ?, ?, ?, ?, ?)", data_baru)
conn.commit()

conn.close()

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_pesanan")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(1, '2023-11-05', '14:38.27', 123, 10, 0)
(2, '2023-11-16', '10:02:03', 456, 5, 0)
(3, '2023-11-17', '23:59:58', 987, 15, 0)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

data_baru = [
    ('2023-11-16', '00:09:32', 456, 20, 0),
    ('2023-11-15', '12:29:17', 135, 5, 0),
    ('2023-11-17', '15:42:19', 321, 10, 0)
]

cur.executemany("""INSERT INTO tabel_pesanan
                (tanggal, jam, kode_produk, jumlah, sudah_dibayar)
                VALUES (?,?,?,?,?)""", data_baru)
conn.commit()

conn.close()

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_pesanan")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(1, '2023-11-05', '14:38.27', 123, 10, 0)
(2, '2023-11-16', '10:02:03', 456, 5, 0)
(3, '2023-11-17', '23:59:58', 987, 15, 0)
(4, '2023-11-16', '00:09:32', 456, 20, 0)
(5, '2023-11-15', '12:29:17', 135, 5, 0)
(6, '2023-11-17', '15:42:19', 321, 10, 0)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_pesanan ORDER BY tanggal, jam")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(1, '2023-11-05', '14:38.27', 123, 10, 0)
(5, '2023-11-15', '12:29:17', 135, 5, 0)
(4, '2023-11-16', '00:09:32', 456, 20, 0)
(2, '2023-11-16', '10:02:03', 456, 5, 0)
(6, '2023-11-17', '15:42:19', 321, 10, 0)
(3, '2023-11-17', '23:59:58', 987, 15, 0)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_pesanan WHERE jam > '12:00:00'")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(1, '2023-11-05', '14:38.27', 123, 10, 0)
(3, '2023-11-17', '23:59:58', 987, 15, 0)
(5, '2023-11-15', '12:29:17', 135, 5, 0)
(6, '2023-11-17', '15:42:19', 321, 10, 0)

## Querying dan inner join melalui foreign key

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

print("=== Tabel produk ===")
cur.execute("""SELECT * FROM tabel_produk""")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

print("=== Tabel pesanan ===")
cur.execute("""SELECT * FROM tabel_pesanan""")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

=== Tabel produk ===
(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)
(456, 'Jeruk Nipis', 15, 0.15, 2.1)
(987, 'Brokoli', 70, 0.05, 1.5)
=== Tabel pesanan ===
(1, '2023-11-05', '14:38.27', 123, 10, 0)
(2, '2023-11-16', '10:02:03', 456, 5, 0)
(3, '2023-11-17', '23:59:58', 987, 15, 0)
(4, '2023-11-16', '00:09:32', 456, 20, 0)
(5, '2023-11-15', '12:29:17', 135, 5, 0)
(6, '2023-11-17', '15:42:19', 321, 10, 0)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("""SELECT *
            FROM tabel_pesanan INNER JOIN tabel_produk
            ON tabel_pesanan.kode_produk == tabel_produk.product_id
            """)
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(1, '2023-11-05', '14:38.27', 123, 10, 0, 123, 'Apel', 200, 0.2, 3.5)
(2, '2023-11-16', '10:02:03', 456, 5, 0, 456, 'Jeruk Nipis', 15, 0.15, 2.1)
(3, '2023-11-17', '23:59:58', 987, 15, 0, 987, 'Brokoli', 70, 0.05, 1.5)
(4, '2023-11-16', '00:09:32', 456, 20, 0, 456, 'Jeruk Nipis', 15, 0.15, 2.1)
(5, '2023-11-15', '12:29:17', 135, 5, 0, 135, 'Stroberi', 120, 0.04, 2.0)
(6, '2023-11-17', '15:42:19', 321, 10, 0, 321, 'Wortel', 30, 0.1, 1.8)

In [ ]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("""SELECT *
            FROM tabel_pesanan INNER JOIN tabel_produk
            ON tabel_produk.product_id == tabel_pesanan.kode_produk
            """)
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(1, '2023-11-05', '14:38.27', 123, 10, 0, 123, 'Apel', 200, 0.2, 3.5)
(2, '2023-11-16', '10:02:03', 456, 5, 0, 456, 'Jeruk Nipis', 15, 0.15, 2.1)
(3, '2023-11-17', '23:59:58', 987, 15, 0, 987, 'Brokoli', 70, 0.05, 1.5)
(4, '2023-11-16', '00:09:32', 456, 20, 0, 456, 'Jeruk Nipis', 15, 0.15, 2.1)
(5, '2023-11-15', '12:29:17', 135, 5, 0, 135, 'Stroberi', 120, 0.04, 2.0)
(6, '2023-11-17', '15:42:19', 321, 10, 0, 321, 'Wortel', 30, 0.1, 1.8)