In [ ]:
import sqlite3

#buat koneksi ke database (beri nama sesuai keinginan)
conn = sqlite3.connect('library.db')

#buat kursor
c = conn.cursor()

#membuat tabel
#sintaks "NOT EXISTS" ditambahkan agar tidak error ketika dapat di run berulang kali

#table mahasiswa
c.execute('''CREATE TABLE IF NOT EXISTS Mahasiswa (
              NPM INTEGER PRIMARY KEY NOT NULL,
              nama_depan TEXT,
              nama_tengah TEXT,
              nama_belakang TEXT,
              jurusan TEXT,
              alamat TEXT,
              nomor_anggota INTEGER,
              FOREIGN KEY(nomor_anggota) REFERENCES Anggota_Perpustakaan(nomor_anggota))''')

#tabel mendaftar
c.execute('''CREATE TABLE IF NOT EXISTS Mendaftar (
              NPM INTEGER NOT NULL,
              nama TEXT,
              jurusan TEXT,
              alamat TEXT,
              FOREIGN KEY(NPM) REFERENCES Mahasiswa(NPM))''')

#tabel anggota perpustakaan
c.execute('''CREATE TABLE IF NOT EXISTS Anggota_Perpustakaan (
              nomor_anggota INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
              nama TEXT,
              jurusan TEXT,
              masa_berlaku TEXT,
              kode_peminjaman INTEGER,
              FOREIGN KEY(kode_peminjaman) REFERENCES Meminjam(kode_peminjaman))''')

#tabel meminjam
c.execute('''CREATE TABLE IF NOT EXISTS Meminjam (
              kode_peminjaman INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
              tanggal_pinjam TEXT,
              tanggal_kembali TEXT,
              nomor_anggota INTEGER NOT NULL,
              nomor_buku INTEGER NOT NULL,
              denda INTEGER,
              FOREIGN KEY(nomor_anggota) REFERENCES Anggota_Perpustakaan(nomor_anggota),
              FOREIGN KEY(nomor_buku) REFERENCES Buku(nomor_buku))''')

#tabel buku
c.execute('''CREATE TABLE IF NOT EXISTS Buku (
              nomor_buku INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
              judul_buku TEXT,
              jenis_buku TEXT,
              penerbit TEXT,
              tahun_terbit INTEGER,
              pengarang TEXT)''')

#contoh penginputan data ke dalam tabel
print('Input Data Mahasiswa')
npm = int(input('NPM: '))
nd = str(input('Nama Depan: '))
nt = str(input('Nama Tengah: '))
nb = str(input('Nama Belakang: '))
jur = str(input('Jurusan: '))
alt = str(input('Alamat: '))
inputmhs = npm, nd, nt, nb, jur, alt
c.execute('''INSERT INTO Mahasiswa (NPM, nama_depan, nama_tengah, nama_belakang, jurusan, alamat)
              VALUES (?,?,?,?,?,?)''', inputmhs)

#simpan perubahan
conn.commit()

#tutup koneksi database
conn.close()

Input Data Mahasiswa
NPM: 2106703752
Nama Depan: Rifki
Nama Tengah: -
Nama Belakang: Prakasya
Jurusan: Matematika
Alamat: Jalan Anggrek